
.icon-mail:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */