:root {
    --lightgreen: #51DB56;
    --darkgreen: #188F1D;
    --darkpink: #DB528E;
    --pink: #FF78B2;
    --dark: #8F2754;


    /* header gradient */
    --first: #139C67;
    --second: #14A644;
    --third: #188F1D;
    --fourth: #3EA614;
    --fifth: #6A9C13;

    /* nav gradient */
    --color1: #9C3622;
    --color2: #A62724;
    --color3: #8F2754;
    --color4: #A6249D;
    --color5: #7F229C;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: linear-gradient(to right, var(--dark), var(--darkpink), var(--dark));
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    text-align: center;
    font-size: 6em;
    font-family: 'Comforter Brush', cursive;
    padding: 0.25em;
    background-image: linear-gradient(to right, var(--first), var(--second), var(--third), var(--fourth), var(--fifth));
}

nav {
    text-align: center;
    padding-left: 22%;

    background-image: linear-gradient(to right, var(--color1), var(--color2), var(--color3), var(--color4), var(--color5));
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
}

.naw {
    display: flex;
    align-items: center;
    justify-content: center;

    float: left;
    width: 15%;
    min-height: 60px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 1%;

    padding-top: 0.25em;
    padding-bottom: 0.25em;

    color: lightcyan;
    text-decoration: none;
    font-size: 1.5em;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.naw:hover {
    background-color: var(--darkpink);

    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.u {
    clear: both;
}

img {
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

main {
    margin: auto;
    max-width: 1300px;
}

main h2 {
    font-size: 50pt;
}

.rightH {
    text-align: right;
}

#ceny {
    float: right;
}

section {
    width: 100%;
}

section p {
    font-size: 1.5em;
}

iframe {
    max-width: 800px;
}

form ul {
    list-style-type: none;
}

section ul {
    font-size: 1.25em;
}

footer {
    background-color: black;
    color: white;
    text-align: center;

    min-height: 100px;

    padding: 1%;
}